/*inputbox*/
.todoListMain .header input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

/*button*/
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #7ca37d;
  color: #FFF;
  border: 2px solid #7ca37d;
}

/*change color when you hover on it*/
.todoListMain .header button:hover {
  background-color:#526e53;
  border: 2px solid #526e53;
  cursor: pointer; /*shape of pointer*/
}

/*items that will show up as tasks*/
.todoListMain .theList li{
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  /*animation for when an item is removed*/
  transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: #bad4b8;
  cursor: pointer;
}

ul.theList {
  padding: 0px;
}
